<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ca.syncron.app" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".system.Syncron"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".service.SyncronService"
            android:enabled="true"
            android:exported="true" >
        </service>
        <service
            android:name=".service.SyncronService1"
            android:enabled="false"
            android:exported="true" >
        </service>

	    <activity
			    android:name=".chat.ChatActivity"
			    android:label="@string/title_activity_chat"
			    >
	    </activity>
	    <activity
			    android:name=".DigitalActivity"
			    android:label="@string/title_activity_digital"
			    >
	    </activity>
	    <activity
			    android:name=".tests.ToggleActivity"
			    android:label="@string/title_activity_toggle"
			    >
	    </activity>
    </application>

</manifest>
